<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-sm-12">
            @for (album of album_list; track album.name){

            <h1 class="display-1">
                {{album.artist}}
                <img src="images/music.png" style="width: 40; height: 40px;">
            </h1>
            <div class="mt-3">
                <h5>Album - <em>{{ album.album_title }}</em></h5>
                <hr>
                <p><strong>Year:</strong> {{ album.year_of_release }}</p>
                <p><strong>Genre:</strong> {{ album.genre }}</p>
            </div>
            <div class="col-sm-12 mb-3">
                <h5>Description</h5>
                {{loremIpsum}}
            </div>
            <p>
                <strong>Average Rating:</strong>
                <span *ngFor="let index of [].constructor(averageRating)">
                    <img src="images/love_rating.png" alt="rating"
                        style="width: 30px; height: 30px; margin-left: 10px; margin-bottom: 10px;" />
                </span>
                {{ averageRating }}/5
            </p>
            <hr>
            <p>
                <span class="review-counter">{{ reviews_list?.length || 0 }}</span>
                <strong> Reviews:</strong>
            </p>

            <div id="reviews" class="col-sm-12">
                <div *ngIf="paginatedReviews && paginatedReviews.length > 0; else noReviews">
                    <div *ngFor="let review of paginatedReviews" class="card bg-success text-light mb-3">
                        <div class="card-header">
                            <img src="images/user_icon.png" style="width: 30; height: 30px;">
                            {{ review.username }}
                        </div>
                        <div class="card-body">
                            {{ review.review_text }}
                        </div>
                        <div class="card-footer">
                            <p><strong>Rating: {{ review.rating }}</strong>/5</p>
                        </div>
                        <button *ngIf="isAdmin" class="btn btn-danger btn-sm float-end" (click)="deleteReview(review.review_id)">
                            Delete
                        </button>
                    </div>

                    <!-- Pagination Controls -->
                    <div class="row">
                        <div class="col-sm-4 text-start">
                            <button class="btn btn-primary" (click)="previousReviewPage()"
                                [disabled]="reviewPage === 1">
                                Previous
                            </button>
                        </div>
                        <div class="col-sm-4 text-center align-self-center">
                            Page {{ reviewPage }} of {{ totalReviewPages }}
                        </div>
                        <div class="col-sm-4 text-end">
                            <button class="btn btn-primary" (click)="nextReviewPage()"
                                [disabled]="reviewPage === totalReviewPages">
                                Next
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Fallback if no reviews are available -->
                <ng-template #noReviews>
                    <p>No reviews yet. Be the first to review!</p>
                </ng-template>
            </div>
            }
        </div>
    </div>
</div>
<hr>
<div class="container" >
    <ng-container>
        <h2>Leave a Review</h2>
        <p *ngIf="!isLoggedIn" class="text-danger">
            Please log in to Review Album.
          </p>
        <form *ngIf="isLoggedIn" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" formControlName="username"
                    [ngClass]="{'border border-danger': isInvalid('username')}">
            </div>
            <div class="form-group">
                <label for="review_text">Please leave a review below:</label>
                <textarea name="review_text" id="review_text" class="form-control" formControlName="review_text"
                    [ngClass]="{'border border-danger': isInvalid('review_text')}">
            </textarea>
            </div>
            <div class="form-group">
                <label for="rating">
                    Rate the album (5 Hearts = best)
                </label>
                <select name="rating" id="rating" class="form-control" formControlName="rating">
                    <option value="1">1 Hearts</option>
                    <option value="2">2 Hearts</option>
                    <option value="3">3 Hearts</option>
                    <option value="4">4 Hearts</option>
                    <option value="5">5 Hearts</option>
                </select>
            </div>
            <span class="text-danger" *ngIf="isIncomplete()">
                Please complete all fields
            </span>
            <button *ngIf="!isIncomplete()" class="btn btn-primary" type="submit" style="margin-top: 20px;">
                Submit
            </button>
        </form>
    </ng-container>
    
</div>