<div class="container text-center" style="margin-top: 70px;">

    <h1>The Greatest Albums Of All Time</h1>

    <div class="row">
        <div class="col-md-12" style="margin: 40px;">
            <input 
            type="text" 
            class="form-control" 
            placeholder="🔍Search Album or Artist Name..." 
            [(ngModel)]="searchQuery"
            (input)="searchBusinesses()" 
            />
        </div>
    </div>

    <div class="row">
        <div *ngFor="let business of business_list" class="col-md-4 mb-4">
            <div class="card text-center text-white bg-primary mb-3" style="cursor: pointer"
                [routerLink]="['/businesses', business._id]">
                <div class="card-header">
                    {{business.artist}}
                </div>
                <div class="card-body">
                    Album
                    <br>
                    <img src="images/album.png" style=" width: 30px; height: 30px;">
                    <br>
                    {{business.album_title}}
                </div>
                <div class="card-footer">
                    Year -
                    {{business.year_of_release}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 text-start">
            <button class="btn btn-primary" (click)="previousPage()">
                Previous
            </button>
        </div>
        <div class="col-sm-4 text-center align-self-center">
            Showing Page {{this.page}}
            of {{this.dataService.getLastPageNumber()}}
        </div>
        <div class="col-sm-4 text-end">
            <button class="btn btn-primary" (click)="nextPage()">
                Next
            </button>
        </div>
    </div>
</div>