<div class="container text-center" style="margin-top: 70px;">
    <h1>The Greatest Albums Of All Time</h1>

    <div class="row">
        <div class="col-md-12" style="margin: 40px;">
            <input type="text" class="form-control" placeholder="🔍Search Album or Artist Name..."
                [(ngModel)]="searchQuery" (input)="searchBusinesses()" />
        </div>
    </div>

    <div class="container" style="margin-bottom: 20px;">
        <!-- Button to toggle the form -->
        <button class="btn btn-primary mb-3" (click)="toggleAddAlbumForm()">
            {{ showAddAlbumForm ? 'Close' : 'Add Album' }}
        </button>

        <!-- Collapsible form -->
        <div *ngIf="showAddAlbumForm" class="card p-3">
            <h2>Add a New Album</h2>
            <form [formGroup]="addAlbumForm" (ngSubmit)="onAddAlbum()">
                <div class="form-group">
                    <label for="artist">Artist</label>
                    <input type="text" id="artist" class="form-control" formControlName="artist"
                        [ngClass]="{'border border-danger': isInvalid('artist')}" />
                </div>
                <div class="form-group">
                    <label for="album_title">Album Title</label>
                    <input type="text" id="album_title" class="form-control" formControlName="album_title"
                        [ngClass]="{'border border-danger': isInvalid('album_title')}" />
                </div>
                <div class="form-group">
                    <label for="year_of_release">Year of Release</label>
                    <input type="number" id="year_of_release" class="form-control" formControlName="year_of_release"
                        [ngClass]="{'border border-danger': isInvalid('year_of_release')}" />
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" id="genre" class="form-control" formControlName="genre"
                        [ngClass]="{'border border-danger': isInvalid('genre')}" />
                </div>
                <button type="submit" class="btn btn-success mt-3" [disabled]="isIncomplete()">
                    Submit Album
                </button>
                <br>
                <button type="button" class="btn btn-secondary ms-2" (click)="onCancelForm()">
                    Cancel
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let business of business_list" class="col-md-4 mb-4">
            <div class="card text-center text-white bg-primary mb-3">
                <div class="card-header">
                    <ng-container *ngIf="editingAlbumId === business._id; else displayMode">
                        <input type="text" class="form-control" [(ngModel)]="business.artist" placeholder="Artist Name">
                    </ng-container>
                    <ng-template #displayMode>
                        {{ business.artist }}
                    </ng-template>
                </div>
                <div class="card-body">
                    Album
                    <br>
                    <ng-container *ngIf="editingAlbumId === business._id; else displayAlbumTitle">
                        <input type="text" class="form-control" [(ngModel)]="business.album_title"
                            placeholder="Album Title">
                    </ng-container>
                    <ng-template #displayAlbumTitle>
                        <img src="images/album.png" style="width: 20px; height: 20px;">
                        {{ business.album_title }}
                    </ng-template>
                </div>
                <div class="card-footer">
                    Year -
                    <ng-container *ngIf="editingAlbumId === business._id; else displayYear">
                        <input type="number" class="form-control" [(ngModel)]="business.year_of_release"
                            placeholder="Year of Release">
                    </ng-container>
                    <ng-template #displayYear>
                        {{ business.year_of_release }}
                    </ng-template>
                </div>
                <div class="card-actions">
                    <button [routerLink]="['/businesses', business._id]" class="btn btn-light">View Details</button>
                    <br>
                    <button *ngIf="editingAlbumId === business._id" class="btn btn-success"
                        (click)="updateAlbum(business)">Save</button>
                    <button *ngIf="editingAlbumId !== business._id" class="btn btn-warning"
                        (click)="editAlbum(business._id)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteAlbum(business._id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-start">
            <button class="btn btn-primary" (click)="previousPage()">
                Previous
            </button>
        </div>
        <div class="col-sm-4 text-center align-self-center">
            Showing Page {{this.page}}
            of {{this.dataService.getLastPageNumber()}}
        </div>
        <div class="col-sm-4 text-end">
            <button class="btn btn-primary" (click)="nextPage()">
                Next
            </button>
        </div>
    </div>
</div>
<hr>